.banner{
    background-image: url(https://img.freepik.com/free-photo/delicious-hamburger-with-ketchups-mustard_23-2148290624.jpg?t=st=1722941717~exp=1722945317~hmac=072b485f108260f7861145f2af592ffef61032630d394b5664bb1fd7d62ab727&w=900);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
}

@media (max-width: 767px) {
    .banner {
      height: 50vh;
    }
}

.cover{
    width: 100%;
    height: 90vh;
    background-color: #adb5bd;
    opacity: 0;
}